@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints */

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);        
    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Essa impressão foi feita por Luiz Fernando';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    #phone { display: none; }
    #tablet{ display: none; }
    #print { display: block; }
    #pc    { display: none; }
    #tv    { display: none; }

}

@media screen and (min-width: 768px) and (max-width: 992px) { /** TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone { display: none; }
    #tablet{ display: block; }
    #print { display: none; }
    #pc    { display: none; }
    #tv    { display: none; }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.png);
    }

    #phone { display: none; }
    #tablet{ display: none; }
    #print { display: none; }
    #pc    { display: block; }
    #tv    { display: none; }
    
}

@media screen and (min-width:1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    #phone { display: none; }
    #tablet{ display: none; }
    #print { display: none; }
    #pc    { display: none; }
    #tv    { display: block; }
} 